#root {
  width: 100%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(122, 166, 236);
}

/*Navbar CSS*/
.navbar {
  width: calc(100%-15px); /*allows 15px of margin to fit*/
  height: 320px;
  background: linear-gradient(rgb(248, 77, 158) 0%, rgb(255, 116, 117) 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1; /*keeps nav bar above background image*/
  margin: 15px;
  border-radius: 25px;
}

.navbar > * {
  margin: auto 50px;
}

.navbar a {
  text-decoration: none;
  color: rgb(122, 166, 236); /**/
}

.navLinks {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Do Hyeon", serif;
  font-size: 3.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    5px 5px 0 #000;
}

.navLinks div:hover {
  color: rgb(162, 188, 233);
}
/*End of navbar CSS*/

/*Logo CSS*/
.logo-container {
  aspect-ratio: 1/1;
}

.outer-circle {
  width: 95%; /*60*/
  height: 95%;
  border: 12px solid rgb(122, 166, 236);
  outline: 2px solid navy;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inner-circle {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(23, 1fr); /* 23 equal horizontal slices */
}

.slice {
  width: 100%;
}

.slice:nth-child(odd) {
  background-color: #cde6f9; /*alternate slices are proper color */
  border: 1px solid rgb(122, 166, 236);
}

.circle-text {
  position: absolute;
  color: rgb(122, 166, 236);
  font-size: 7em;
  font-style: italic;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
}

.text {
  width: 95%;
  /* margin: 4px 12px;  */
  /*relates to border size of outer circle*/
  text-align: center;
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  color: rgb(122, 166, 236);
  text-shadow: -1px -1px 0 navy, 1px -1px 0 navy, -1px 1px 0 navy,
    1px 1px 0 navy;
}

.brand-text {
  font-size: 2em;
  font-style: italic;
  text-decoration: underline overline;
}

.slogan-text {
  font-size: 1.1em;
}
/*End of Logo CSS*/

/*Background image CSS*/
.backgroundImageWinter {
  background-image: url("./images/winter-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(3);
  width: calc(100%-35px);
  margin: 35px;
  height: 68vh;
  z-index: -10;
  border-radius: 25px;
}

.backgroundImageWinter > div {
  position: absolute;
  color: rgb(240, 55, 95);
  bottom: 0;
  right: 0;
  margin-right: 10px;
  font-family: "Do Hyeon", serif;
  font-size: 2.8em;
}
/*End of background image CSS*/

/*Featured items carousel CSS*/
.featuredItems {
  width: calc(100%-15px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(rgb(255, 116, 117) 0%, rgb(248, 77, 158) 100%);
  margin: 15px;
  border-radius: 25px;
}
/*End of featured items carousel CSS*/

/*Footer CSS*/
footer {
  display: flex;
  justify-content: space-evenly;
}

footer > * {
  text-decoration: none;
  font-size: 2em;
  color: rgb(240, 55, 95);
  font-family: "Do Hyeon", serif;
}

footer > *:hover {
  color: rgb(248, 77, 158);
}

/*End of footer CSS*/

.productsGrid {
  width: calc(100%-15px);
  margin: 15px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 120px;
  padding: 50px;
  background: linear-gradient(rgb(255, 116, 117) 0%, rgb(248, 77, 158) 100%);
}

.productCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(122, 166, 236);
  margin: 10px 0px;
  border-radius: 25px;
}
